@import url('https://fonts.cdnfonts.com/css/typographertextur');
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'ancient';
	src: url('./lib/fonts/Ancient.otf');
}
@layer base {
	* {
		@apply text-stone-200;
		@apply caret-red-950;
	}
	fieldset {
		border: solid, 1px;
	}
	input:-webkit-autofill,
	input:-webkit-autofill:hover,
	input:-webkit-autofill:focus,
	input:-webkit-autofill:active {
		-webkit-box-shadow: 0 0 0 30px #404040 inset !important;
	}

	html{
		min-height: 100vh;
	}
	html,
	body {
		min-height: 100vh;
		
		
	}
	body {
		@apply bg-zinc-800;
	}
	::selection {
		@apply bg-red-600;
		@apply text-stone-200;
	}
}
